[Unit]
Description=Backend server for the blog
ConditionPathExists=/home/pi/prj/go/bin/blog-server
After=network.target

[Service]
Type=simple
User=blogserver
Group=blogserver
LimitNOFILE=1024

Restart=on-failure
RestartSec=10
startLimitIntervalSec=60

WorkingDirectory=/home/pi/prj/go/bin
ExecStart=/home/pi/prj/go/bin/blog-server

# make sure log directory exists and owned by syslog
PermissionsStartOnly=true
ExecStartPre=/bin/mkdir -p /var/log/blog-server
ExecStartPre=/bin/chown syslog:adm /var/log/blog-server
ExecStartPre=/bin/chmod 755 /var/log/blog-server
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=blog-server

[Install]
WantedBy=multi-user.target
